.App {
  margin-top: 50px;
  text-align: center;

}
.title-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.title{
  color:sandybrown;
  font-size: 31px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 8px;
  font-weight: 600;
  word-spacing: 5px;
  letter-spacing: 1.25px;
}
.t-image{
  width: 45px;
  margin-top: 5px;
}
.numOfTextBoxField{
  width: 260px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 15px;
  text-align: center;
  font-size: 18px;
  border: none;
  box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.787);
}
.numOfTextBoxField:focus{
  outline: none; 
  box-shadow: 1px 1px 8px #3CB371; 
}
.add-textbox-button{
  background-color:darkslategray;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}
.add-textbox-button:hover{
  background-color:peru;
}
.all-check-div{
  margin: 35px 5px 25px;
}
.all-check{
  background-color: lightgreen;
  padding: 8px 80px;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  

}

.number-field{
  width: 222px;
  padding: 7px 3px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 15px;
  text-align: center;
}
.number-field:focus{
  outline: none;
  border: 1px solid rgba(244, 165, 96, 0.633);
}
.single-row{
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  
}

input[type="checkbox"] {
  color: currentColor;
  width: 1.4em;
  height: 1.4em;
  border: 0.15em solid currentColor;
  border-radius: 1px;
  margin-right: 12px;
  margin-top: 7px;
}
.count{
  font-size: 19px;
  font-weight: 700;
  color: cadetblue;

  
}

.result{
  display: none;
  font-size: 17px;
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
  word-spacing: 3px;
  letter-spacing: 0.8px;
  box-shadow: 1px 1px 12px gray;
  padding: 15px 25px;
  margin: 30px 400px;
  border-radius: 10px;
}


@media only screen and (max-width: 600px) {
  .App {
    margin-top: 30px;
    text-align: center;
  }
  
  .title{
    font-size: 27px;
    margin-left: 5px;
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: .75px;
  }
  .t-image{
    width: 40px;
    margin-top: 3px;
  }
  .numOfTextBoxField{
    width: 190px;
    padding: 7px 5px;
    margin-right: 10px;
    font-size: 17px;
  }

  .add-textbox-button{
    padding: 10px 8px;
  }
  .all-check-div{
    margin: 30px 5px 25px;
  }
  .all-check{
    padding: 8px 68px;
  }
  
  .number-field{
    width: 205px;
    padding: 7px 1px;
  }
  
  .result{
    word-spacing: 2px;
    letter-spacing: 0.7px;
    padding: 10px;
    margin: 30px 15px;
  }
}